body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-top: 1px solid #dcb28a;
}
.table {
  display: block;
  position: fixed;
  width:560px;
  height:100vh;
  float: left;
}
.conference {
  left: 560px;
  width: calc(100% - 560px);
  height: calc(100vh - 154px);
  position: relative;
  border-left: 1px solid #dcb28a;
  border-top: 1px solid #dcb28a;
}

.timer {
  left: 560px;
  max-width: 380px;
  height: 154px;
  position: relative;
  border-left: 1px solid #dcb28a;
}

.preferences {
  text-align: center;
  font-family: sans-serif;
  line-height: 4;
}

.button {
  background-color: #ff7b00;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
